h1 {
    color: white;
    font-weight: 800;
    background-color: black;
    font-size: 40pt;
}

body {
    background-image: url(background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: gray;
    font-family: 'Encode Sans Semi Condensed', sans-serif;
    font-weight: 100;
}

.nav {
    background-color: black;
    opacity: 0.5;
    overflow: hidden;
    height: 150px;
    font-size: 30pt;
    position: fixed;
}

.nav a {
    color: white;
    font-weight: 400;
    margin: 20px;
}